*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    .loginPage{
        min-height:100vh;
        background-color: aliceblue;
        .loginForm,.registerForm{
            position: absolute;
            bottom:15vh;
            right:15vh;
            width:18vw;
            height:15vw;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(212, 212, 212, 0.486);
            min-height:250px;
            min-width:300px;
            span{
                margin-top: 15px;
                font-size: 2vw;
                font-weight: 700;
                text-transform: capitalize;
                color:white;
            }
            form{
                display: flex;
                flex-direction: column;
                width:75%;
                input{
                    margin-top:25px;
                    border:none;
                    padding:10px;
                    border-radius: 5px;
                    background-color: rgb(110, 110, 121);
                    color:white;
                }
                input[type=submit]{
                    text-transform: uppercase;
                }
                input::placeholder{
                    color:white;
                }
            }
            .emotka{
                position: absolute;
                right:-5%;
                top:-12%;
                font-size:72px;
                color:red;
            }
        }
        .registerForm{
            position: absolute;
            top:6vw;
            left:6vw;
            width:18vw;
            height:22vw;
            min-height:400px;
            .emotka{
                position: absolute;
                left:-10%;
                top:-12%;
                color:red;
            }
        }
        .logo{
            position: absolute;
            top:16vh;
            right:15vh;
            font-weight: 700;
            color:rgb(212, 212, 212);
            span{
                display: block;
            }
            .bigger{
                font-size:4vw;
            }
            .smaller{
                font-size:3vw;
                text-align: right;
            }
        }
    }
}

@media (max-width:1200px){
    .app{
        .loginPage{
            .logo{
                right:5vh;
                span{
                    color:red;
                }
            }
        }
    }
}