*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    min-height: 100svh;
    display: flex;
    overflow: hidden;
    position: relative;
    .loginAlert{
        position: absolute;
        top:25px;
        right:15px;
        padding:15px;
        letter-spacing: 2px;
        text-transform: capitalize;
        background-color: #ffe97e;
        box-shadow: 2px 2px #222;
        transition: .3s ease-in-out;
    }
    .loginAlert.hidden{
        transform: translateX(calc(100% + 15px));
        border:2px solid red;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover
{
    background-color:#555;
}