.mapPage{
    .eventPanel{
        position: absolute;
        bottom:0;
        left:-500px;
        width:500px;
        height:100svh;
        padding-left: 80px;
        background-color: aliceblue;
        z-index:1;
        touch-action:none;
        box-shadow: 3px -3px 0px #FFE97F;
        .close{
            position: absolute;
            top:15px;
            right: 15px;
            cursor: pointer;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-user-select: none; 
            svg{
                font-size:26px;
            }
        }
        .line{
            display: none;
        }
    }
}

@media (max-width:850px){
    .mapPage{
        .eventPanel{
            background-color: aliceblue;
            height:500px;
            width:100%;
            left:0;
            bottom:-380px;
            padding-left: 0;
            .line{
                display: block;
                position: absolute;
                top:10px;
                left: calc(50% - 50px);
                width:100px;
                height:15px;
                background-color: #222;
                border-radius: 25px;
                cursor: pointer;
                opacity: .8;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-user-select: none; 
            }
            .close{
                top:5px;
            }
        }
    }
}