.mapPage{
    .eventPanel{
        position: absolute;
        bottom:0;
        left:-500px;
        width:500px;
        height:100svh;
        padding-left: 80px;
        background-color: aliceblue;
        z-index:1;
        touch-action:none;
        box-shadow: 3px -3px 0px #FFE97F;
        .Login{
            height:100svh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:26px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            text-shadow: 2px 2px #222;
            color: #FFE97F;
        }
        .close{
            position: absolute;
            top:15px;
            right: 15px;
            cursor: pointer;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-user-select: none; 
            svg{
                font-size:26px;
            }
        }
        .line{
            display: none;
        }
    }
}

@media (max-width:850px){
    .mapPage{
        .eventPanel{
            background-color: aliceblue;
            height:600px;
            width:100%;
            left:0;
            bottom:-490px;
            padding-left: 0;
            .line{
                display: block;
                position: absolute;
                top:0px;
                width:100%;
                height:40px;
                cursor: pointer;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-user-select: none;
                background-color: #FFE97F;
            }
            .line::after{
                content: "";
                display: block;
                position: absolute;
                top:10px;
                left: 50%;
                transform: translateX(-50%);
                width:100px;
                height:15px;
                background-color: #222;
                border-radius: 25px;
                cursor: pointer;
                opacity: .8;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-user-select: none;
            }
            .close{
                top:5px;
            }
        }
    }
}