.mapPage{
    .MapAlert{
        background-color: aliceblue;
        box-shadow: 2px 2px #ffe97e;
        padding: 10px 25px;
        position: fixed;
        right:15px;
        bottom:10%;
        z-index:2;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        transform: translateX(calc( 100% + 25px));
        transition: .3s ease-in-out;
    }
    .MapAlert.active{
        transform: translateX(0);
    }
}