.mapPage{
    .searchBar{
        position: fixed;
        top:0;
        left:50%;
        width:50%;
        z-index: 2;
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search{
            height:50px;
            width:75%;
            margin-left:10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: aliceblue;
            box-shadow: 3px 3px 0px #FFE97F;
            padding: 5px;
            position: relative;
            .logo{
                min-width:30px;
                height:30px;
                background-image: url("../../../public/images/icon.png");
                background-size: cover;
                background-position: center;
                margin-left: 5px;
            }
            input{
                background-color: aliceblue;
                border: none;
                height:100%;
                letter-spacing: 2px;
                width:80%;
                padding-left: 10px;
            }
            input:focus{
                outline: none;
            }
            svg{
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-user-select: none; 
            }
            .list{
                position: absolute;
                top:100%;
                left:0;
                width:100%;
                height:0%;
                background-color: aliceblue;
                box-shadow: 3px 3px #FFE97F;
                transition:.3s ease-in-out;
                .elements{
                    display: none;
                    overflow: hidden;
                }
            }
        }
        .search.active{
            .list{
                height:300%;
                .elements{
                    display: block;
                    height:100%;
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .empty{
                        flex-grow:1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                    .element{
                        flex-basis:25%;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;
                        cursor: pointer;
                        text-transform: capitalize;
                    }
                    .element:hover{
                        opacity: .8;
                    }
                }
            }
        }
    }
}

@media (max-width:1050px){
    .mapPage{
        .searchBar{
            justify-content: flex-end;
            .search{
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 850px){
    .mapPage{
        .searchBar{
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:10svh;
            min-height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .search{
                input{
                    padding-left: 15px;
                }
            }
        }
    }
}