.mapPage{
    .eventPanel{
        .details{
            height:100svh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            .mainPhoto{
                overflow: hidden;
                position: relative;
                user-select: none;
                width:100%;
                box-shadow: 0px 2px 1px 0px #22222256;
                .swiper-wrapper{
                    height: 200px;
                    .swiper-slide{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        img{
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%,-50%);
                            width:100%;
                            height: auto;
                        }
                    }
                }
            }
            .detailButtons{
                width:100%;
                height:5%;
                display: flex;
                justify-content:flex-end;
                align-items: center;
                .like{
                    height:40px;
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    margin-right: 15px;
                    cursor: pointer;
                    svg{
                        font-size:26px;
                    }
                    .liked{
                        transform-origin:50% 100%;
                        animation: like-animation .6s ease-in-out forwards;
                        color:red;
                    }
                    .noLiked{
                        color:#222;
                    }
                }
                .save{
                    height:40px;
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    cursor: pointer;
                    margin-right: 15px;
                    svg{
                        font-size:26px;
                    }
                }
            }
            h1{
                text-transform: capitalize;
                cursor: default;
                font-size:20px;
                width:100%;
                padding-left: 15px;
                margin-top: 15px;
                font-weight: 400;
                letter-spacing: 2px;
            }
            h2{
                width:100%;
                cursor: default;
                padding-left: 15px;
                font-size:14px;
                font-weight: 400;
                letter-spacing: 2px;
                margin-top: 5px;
            }
            .detailsNav{
                width:100%;
                height:50px;
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
                align-items: end;
                .option{
                    border-bottom:2px solid #222;
                    width:25%;
                    height:40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition:.3s ease-in-out;
                }
                .option:hover{
                    opacity: .8;
                }
                .option.active{
                    border-bottom:2px solid lightblue;
                    color:royalblue;
                }
            }
            .detailsMain{
                overflow-y: scroll;
                width:100%;
                padding: 25px;
                cursor:default;
                height:60%;
                p.description{
                    display: block;
                    background-color: #FFE97F;
                    padding:15px;
                    border-radius: 5px;
                    width:100%;
                    text-align: justify;
                    letter-spacing: 2px;
                    //box-shadow: 2px 2px #222;
                }
                .detailInfoPanel{
                    margin: 15px 0 15px 0;
                    height:50px;
                    background-color: #FFE97F;
                    border-radius: 5px;
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 15px;
                    align-items: center;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                    //box-shadow: 2px 2px #222;
                    svg{
                        margin-right: 10px;
                        color:royalblue;
                        font-size:22px;
                    }
                }
                .chat{
                    min-height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .userQuestion{
                        background-color: #FFE97F;
                        padding:10px;
                        border-radius: 5px;
                        width:60%;
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                        align-self: flex-end;
                        margin-top:10px;
                    }
                    .chatResponse{
                        background-color: #FFE97F;
                        padding:10px;
                        border-radius: 5px;
                        width:60%;
                        align-self: flex-start;
                        margin-top:10px;
                    }
                }
                .askQuestion{
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom:2px solid #222;
                    input{
                        width:90%;
                        padding:15px;
                        background-color: transparent;
                        border:none;
                        font-size:16px;
                        letter-spacing: 2px;
                    }
                    input:focus{
                        outline: none;
                    }
                    svg{
                        width:10%;
                        font-size:26px;
                        cursor: pointer;
                    }
                }
                .opinions{
                    width:100%;
                    min-height:100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .addComment{
                        display: flex;
                        margin:0 25px 0 25px;
                        border-bottom: 2px solid #222;
                        input{
                            flex-grow: 1;
                            padding:5px;
                            border: none;
                            background-color: aliceblue;
                        }
                        input:focus{
                            outline: none;
                        }
                        button{
                            cursor: pointer;
                            margin-left: 10px;
                            flex-basis: 20%;
                            border:none;
                            border-radius: 5px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            background-color: transparent;
                            svg{
                                font-size: 28px;
                            }
                        }
                    }
                    .commentsContainer{
                        flex-grow: 1;
                        position: relative;
                        .comment{
                            margin-top:25px;
                            display: flex;
                            flex-direction: column;
                            background-color: #FFE97F;
                            padding:10px;
                            border-radius: 5px;
                            header{
                                flex-basis: 20%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                font-weight: 700;
                                .icon{
                                    .userIcon{
                                        width:30px;
                                        height:30px;
                                        margin: 0 10px 0 15px;
                                        border-radius: 50%;
                                        position: relative;
                                        overflow: hidden;
                                        img{
                                            position: absolute;
                                            top:50%;
                                            left:50%;
                                            transform: translate(-50%,-50%);
                                            max-height:100%;
                                            width:auto;
                                            user-select:none;
                                            -webkit-user-drag: none;  //zakaz przeciągania fotek
                                        }
                                    }
                                    svg{
                                        font-size:28px;
                                        margin: 0 10px 0 15px;
                                        color:#222;
                                    }
                                }
                                .name{
                                    cursor: default;
                                    font-size:14px;
                                    font-weight: 500;
                                    user-select:none;
                                }
                            }
                            main{
                                padding:15px;
                            }
                        }
                        .empty{
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%,-50%);
                            font-size:22px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:800px){
    .mapPage{
        .eventPanel{
            .details{
                .mainPhoto{
                    margin-top: 40px;
                    .swiper-wrapper{
                        height: 160px;
                    }
                }
                .detailsNav{
                    height:4%;
                }
                .detailButtons{
                    height:4%;
                }
                .detailsMain{
                    height:250px;
                }
            }
        }
    }
}

@keyframes like-animation{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1) rotate(15deg);
    }
    60%{
        transform: scale(1.1) rotate(-15deg);
    }
    90%{
        transform: scale(1);
    }
}