.mapPage{
    .eventPanel{
        .details{
            height:100svh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            .mainPhoto{
                overflow: hidden;
                position: relative;
                user-select: none;
                width:100%;
                box-shadow: 0px 2px 1px 0px #22222256;
                .swiper-wrapper{
                    height: 200px;
                    .swiper-slide{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        img{
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%,-50%);
                            width:100%;
                            height: auto;
                        }
                    }
                }
            }
            .detailButtons{
                width:100%;
                height:5svh;
                display: flex;
                justify-content:flex-end;
                align-items: center;
                .like{
                    height:40px;
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    margin-right: 15px;
                    cursor: pointer;
                    svg{
                        font-size:26px;
                    }
                }
                .save{
                    height:40px;
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    cursor: pointer;
                    margin-right: 15px;
                    svg{
                        font-size:26px;
                    }
                }
            }
            h1{
                text-transform: capitalize;
                cursor: default;
                font-size:20px;
                width:100%;
                padding-left: 15px;
                margin-top: 15px;
                font-weight: 400;
                letter-spacing: 2px;
            }
            h2{
                width:100%;
                cursor: default;
                padding-left: 15px;
                font-size:14px;
                font-weight: 400;
                letter-spacing: 2px;
                margin-top: 5px;
            }
            .detailsNav{
                width:100%;
                height:50px;
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
                align-items: end;
                .option{
                    border-bottom:2px solid #222;
                    width:25%;
                    height:40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition:.3s ease-in-out;
                }
                .option:hover{
                    opacity: .8;
                }
                .option.active{
                    border-bottom:2px solid royalblue;
                    color:royalblue;
                }
            }
            .detailsMain{
                width:100%;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                padding:25px;
                cursor: default;
                p.description{
                    display: block;
                    background-color: #FFE97F;
                    padding:15px;
                    border-radius: 15px;
                    width:100%;
                    text-align: justify;
                    letter-spacing: 2px;
                    //box-shadow: 2px 2px #222;
                }
                .detailInfoPanel{
                    margin: 10px 0 10px 0;
                    height:50px;
                    background-color: #FFE97F;
                    border-radius: 15px;
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 15px;
                    align-items: center;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                    //box-shadow: 2px 2px #222;
                    svg{
                        margin-right: 10px;
                        color:royalblue;
                        font-size:22px;
                    }
                }
                .chat{
                    flex-basis: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .userQuestion{
                        background-color: #FFE97F;
                        padding:10px;
                        border-radius: 5px;
                        width:60%;
                        align-self: flex-start;
                        margin-top:10px;
                    }
                    .chatResponse{
                        background-color: #FFE97F;
                        padding:10px;
                        border-radius: 5px;
                        width:60%;
                        align-self: flex-end;
                        margin-top:10px;
                    }
                }
                .askQuestion{
                    flex-basis: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom:2px solid #222;
                    input{
                        width:90%;
                        padding:15px;
                        background-color: transparent;
                        border:none;
                        font-size:16px;
                        letter-spacing: 2px;
                    }
                    input:focus{
                        outline: none;
                    }
                    svg{
                        width:10%;
                        font-size:26px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (max-width:800px){
    .mapPage{
        .eventPanel{
            .details{
                .mainPhoto{
                    margin-top: 40px;
                }
            }
        }
    }
}