
.eventList{
    .event{
        width:100%;
        height:400px;
        min-height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #faea9a;
        margin-top: 25px;
        border-radius: 15px;
        .options{
            position: absolute;
            right:10px;
            top:5px;
            cursor: pointer;
            .optionsPanel{
                display: none;
            }
        }

        .options.active{
            .optionsPanel{
                display: block;
                position: absolute;
                top:100%;
                left:-250%;
                background-color: aliceblue;
                border-radius: 10px;
                box-shadow: 2px 2px #222;
                width:350%;
                height:150%;
                z-index:10;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding:5px;
                transition: .3s ease-in-out;
                text-transform: capitalize;
                letter-spacing: 2px;
                svg{
                    font-size:18px;
                    margin-right: 5px;
                }
            }
            .optionsPanel:hover{
                color:lightcoral;
            }
        }
        .userData{
            flex-basis: 20%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 700;
            .icon{
                .userIcon{
                    width:30px;
                    height:30px;
                    margin: 0 10px 0 15px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    img{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        max-height:100%;
                        width:auto;
                        user-select:none;
                        -webkit-user-drag: none;  //zakaz przeciągania fotek
                    }
                }
                svg{
                    font-size:28px;
                    margin: 0 10px 0 15px;
                    color:#222;
                }
            }
            .name{
                cursor: default;
                font-size:14px;
                font-weight: 500;
                user-select:none;
            }
        }
        .photos{
            overflow: hidden;
            position: relative;
            user-select: none;
            .swiper-wrapper{
                height: 200px;
                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        width:100%;
                        height: auto;
                    }
                }
            }
        }
        .title{
            flex-basis: 10%;
            position: relative;
            display: flex;
            align-items:center;
            font-weight: 500;
            letter-spacing: 2px;
            cursor: default;
            text-transform: capitalize;
            font-size:16px;
            span{
                margin-left: 15px;
            }
        }
        .buttons{
            flex-grow:1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .like{
                height:40px;
                display: flex;
                justify-content:center;
                align-items: center;
                margin-right: 15px;
                cursor: pointer;
                svg{
                    font-size:26px;
                }
                .liked{
                    transform-origin:50% 100%;
                    animation: like-animation .6s ease-in-out forwards;
                    color:red;
                }
                .noLiked{
                    color:#222;
                }
            }
            .save{
                height:40px;
                display: flex;
                justify-content:center;
                align-items: center;
                cursor: pointer;
                svg{
                    font-size:26px;
                }
            }
            .check{
                background-color: aliceblue;
                width:120px;
                height:40px;
                margin: 0 15px 0 15px;
                display: flex;
                justify-content:center;
                align-items:center;
                border-radius:25px;
                text-transform: uppercase;
                font-weight: 600;
                box-shadow: 2px 2px #222;
                border:none;
                cursor: pointer;
            }
        }
    }
}