.mapPage{
    .eventPanel{
        .savePanel{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .search{
                flex-basis: 15%;
                min-height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 2px 1px 0px #22222256;
                background-color:#FFE97F;
                .input{
                    margin-top: 35px;
                    width:80%;
                    background-color: aliceblue;
                    padding:5px;
                    padding-left: 10px;
                    border-bottom: 2px solid #222;
                    display: flex;
                    input{
                        background-color: aliceblue;
                        border:none;
                        flex-basis: 90%;
                        letter-spacing: 4px;
                    }
                    input:focus{
                        outline: none;
                    }
                    svg{
                        flex-basis: 10%;
                        font-size:32px;
                    }
                }
                .sectionName{
                    margin-top:5px;
                    width:80%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    span{
                         border:none;
                        border-bottom: 2px solid #222;
                        padding:5px;
                        background: aliceblue;
                        letter-spacing: 2px;
                        font-size:14px;
                        cursor: default;
                    }
                }
            }
            .eventList{
                padding-bottom: 25px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow-y: scroll;
                position: relative;
                .empty{
                    font-size:22px;
                    font-weight: 500;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
                .event{
                    width:100%;
                    height:400px;
                    min-height: 400px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    .options{
                        position: absolute;
                        right:10px;
                        top:5px;
                        cursor: pointer;
                        .optionsPanel{
                            display: none;
                        }
                    }

                    .options.active{
                        .optionsPanel{
                            display: block;
                            position: absolute;
                            top:100%;
                            left:-250%;
                            background-color: #FFE97F;
                            border-radius: 10px;
                            box-shadow: 2px 2px #222;
                            width:350%;
                            height:150%;
                            z-index:10;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding:5px;
                            transition: .3s ease-in-out;
                            text-transform: capitalize;
                            letter-spacing: 2px;
                            svg{
                                font-size:18px;
                                margin-right: 5px;
                            }
                        }
                        .optionsPanel:hover{
                            color:lightcoral;
                        }
                    }
                    .userData{
                        flex-basis: 20%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 700;
                        .icon{
                            .userIcon{
                                width:30px;
                                height:30px;
                                margin: 0 10px 0 15px;
                                border-radius: 50%;
                                position: relative;
                                overflow: hidden;
                                img{
                                    position: absolute;
                                    top:50%;
                                    left:50%;
                                    transform: translate(-50%,-50%);
                                    max-height:100%;
                                    width:auto;
                                    user-select:none;
                                    -webkit-user-drag: none;  //zakaz przeciągania fotek
                                }
                            }
                            svg{
                                font-size:28px;
                                margin: 0 10px 0 15px;
                                color:#222;
                            }
                        }
                        .name{
                            cursor: default;
                            font-size:14px;
                            font-weight: 500;
                            user-select:none;
                        }
                    }
                    .photos{
                        overflow: hidden;
                        position: relative;
                        user-select: none;
                        .swiper-wrapper{
                            height: 200px;
                            .swiper-slide{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                img{
                                    position: absolute;
                                    top:50%;
                                    left:50%;
                                    transform: translate(-50%,-50%);
                                    width:100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .title{
                        flex-basis: 10%;
                        position: relative;
                        display: flex;
                        align-items:center;
                        font-weight: 500;
                        letter-spacing: 2px;
                        cursor: default;
                        text-transform: capitalize;
                        font-size:16px;
                        span{
                            margin-left: 15px;
                        }
                    }
                    .buttons{
                        flex-grow:1;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        .like{
                            height:40px;
                            display: flex;
                            justify-content:center;
                            align-items: center;
                            margin-right: 15px;
                            cursor: pointer;
                            svg{
                                font-size:26px;
                            }
                            .liked{
                                transform-origin:50% 100%;
                                animation: like-animation .6s ease-in-out forwards;
                                color:red;
                            }
                            .noLiked{
                                color:#222;
                            }
                        }
                        .save{
                            height:40px;
                            display: flex;
                            justify-content:center;
                            align-items: center;
                            cursor: pointer;
                            svg{
                                font-size:26px;
                            }
                        }
                        .check{
                            background-color: #FFE97F;
                            width:120px;
                            height:40px;
                            margin: 0 15px 0 15px;
                            display: flex;
                            justify-content:center;
                            align-items:center;
                            border-radius:25px;
                            text-transform: uppercase;
                            font-weight: 600;
                            box-shadow: 2px 2px #222;
                            border:none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}