*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.adminpanel{
    background-color: aliceblue;
    min-height:100svh;
    max-height: 100svh;
    display:flex;
    nav{
        background-color: #FFE97F;
        box-shadow: 2px 2px #222;
        flex-basis:120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .navOption{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            color:#222;
            text-decoration: none;
            user-select: none;
            svg{
                font-size:32px;
                margin-bottom: 10px;
            }
        }
        .navOption:hover{
            color:lightblue;
        }
    }
    main{
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .edit{
            width:100%;
            height:80%;
            display: flex;
            justify-content: space-around;
            .editPanel{
                flex-basis: 70%;
                margin: 10px 0 10px 10px;
                box-shadow: 2px 2px #222;
                background-color: #FFE97F;
                position: relative;
                .contentEmpty{
                    font-size:22px;
                    font-weight: 500;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    width:100%;
                    text-align: center;
                }
                .content{
                    width:100%;
                    height:100%;
                    position: absolute;
                    padding:15px;
                    display: flex;
                    flex-direction: column;
                    h2{
                        letter-spacing: 2px;
                        margin-bottom: 15px;
                    }
                    p{
                        margin:15px;
                        padding:5px;
                        letter-spacing: 1px;
                        border-bottom: 2px solid #222;
                    }
                    .grant{
                        width:100%;
                        flex-grow:1;
                        display: flex;
                        padding:15px;
                        .changePrivilage{
                            display: flex;
                            justify-content: center;
                            padding-top: 10px;
                            flex-basis: 70%;
                            overflow: hidden;
                            button,select{
                                background-color: aliceblue;
                                box-shadow: 2px 2px #222;
                                height:60px;
                                min-width:180px;
                                cursor: pointer;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                border:2px solid #222;
                                margin:5px;
                            }
                            select{
                                padding:15px;
                            }
                            .swiper-slide{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                max-height:300px;
                                border-radius:5px;
                                overflow: hidden;
                                height:100%;
                                img{
                                    width:100%;
                                    height: auto;
                                }
                            }
                        }
                        .delete{
                            flex-basis: 30%;
                            display: flex;
                            flex-direction: column;
                            padding-top: 15px;
                            align-items: center;
                            button{
                                background-color: aliceblue;
                                box-shadow: 2px 2px #222;
                                padding:15px;
                                cursor: pointer;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                width:90%;
                            }
                            form{
                                display: flex;
                                flex-direction: column;
                                flex-basis:50%;
                                width:90%;
                                textarea{
                                    flex-grow: 1;
                                    resize:none;
                                    padding:5px;
                                }
                                input[type="submit"]{
                                    background-color: aliceblue;
                                    box-shadow: 2px 2px #222;
                                    padding:5px;
                                    cursor: pointer;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }
            }
            .list{
                box-shadow: 2px 2px #222;
                flex-basis:25%;
                background-color: #FFE97F;
                margin: 10px 0 10px 10px;
                position: relative;
                display:flex;
                flex-direction: column;
                overflow-y: scroll;
                padding:15px;
                .listElement{
                    padding:10px;
                    border-bottom: 2px solid #222;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: default;
                    .info{
                        font-size:14px;
                        flex-grow: 1;
                        overflow: hidden;
                    }
                    button{
                        cursor: pointer;
                        border:none;
                        background-color: aliceblue;
                        box-shadow: 2px 2px #222;
                        text-transform: uppercase;
                        padding:5px;
                    }
                }
                .empty{
                    font-size:22px;
                    font-weight: 500;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    width:100%;
                    text-align: center;
                }
            }
        }
    }
    .adminWindow{
        position: absolute;
        right:10px;
        top:15px;
        padding: 10px 60px;
        width: 28%;
        background-color: #FFE97F;
        box-shadow: 2px 2px #222;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: default;
        user-select: none;
        letter-spacing: 2px;
        overflow: hidden;
    }
    .adminAlert{
        position: fixed;
        right:0;
        bottom:15px;
        padding: 10px 60px;
        width: 28%;
        background-color: #FFE97F;
        box-shadow: 2px 2px #222;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: default;
        user-select: none;
        letter-spacing: 2px;
        overflow: hidden;
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    .adminAlert.active{
        transform: translateX(-10px);
    }
}

.noLoggedError{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100svh;
    width:100%;
    font-size: 48px;
    font-weight: 700;;
    color:#FFE97F;
    text-shadow: 2px 2px 0px #222;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover
{
    background-color:#555;
}

@media (max-width:1050px){
    .adminpanel{
        flex-direction: column;
        min-height:300svh;
        nav{
            flex-basis: 100svh;
            box-shadow: 0px 2px 1px 1px gray;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            .navOption{
                flex-basis: 26%;
                height:20svh;
                margin:5px;
                box-shadow:2px 2px #222;
            }
            a.navOption:nth-of-type(1){
                background-color: #e93aa3;
            }
            a.navOption:nth-of-type(2){
                background-color: #e03024;
            }
            a.navOption:nth-of-type(3){
                background-color: #f27100;
            }
            a.navOption:nth-of-type(4){
                background-color: #9ab522;
            }
            a.navOption:nth-of-type(5){
                background-color: #224c98;
            }
            div.navOption:nth-of-type(1){
                background-color: #72cfc8;
            }
        }
        .adminWindow{
            display: none;
        }
    }
}