*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.adminpanel{
    background-color: aliceblue;
    min-height:100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    .adminInfo{
        position: absolute;
        right:45px;
        top:25px;
        cursor: default;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index:11;
        svg{
            color:#222;
            margin-right: 25px;
            font-size: 22px;
            transition: .3s ease-in-out;
        }
        svg:hover{
            color:red;
        }
        span{
            user-select: none;
        }
    }
    .burger{
        position: absolute;
        top:5px;
        left:5px;
        width:50px;
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index:10;
        svg{
            font-size: 36px;
        }
    }
    aside{
        position: fixed;
        top:0;
        height:100svh;
        left:0;
        width: 10%;
        min-width:150px;
        transform: translateX(-100%);
        background-color:  #ffe97e;
        transition: .3s ease-in-out;
        z-index:9;
        padding:10px;
        padding-top: 5%;
        a{
            width:100%;
            display: block;
        }
        .adminOption{
            width:100%;
            margin: 15px 0 15px 0;
            cursor: pointer;
            transition: .3s ease-in-out;
            text-transform: uppercase;
            border-bottom: 2px solid #222;
            letter-spacing: 1px;
            user-select: none;
            text-decoration: none;
            color:#222;
        }
        .adminOption.active{
            border-bottom: 2px solid red;
            color:red;
        }
        .adminOption:hover{
            opacity: .6;
            border-bottom: 2px solid red;
            color:red;
        }
    }
    aside.active{
        transform: translateX(0);
        box-shadow: 2px 2px #222;
    }
    main{
        width:100%;
        height:100svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        user-select: none;
        z-index:0;
        section{
            padding: 50px;
            background-color: #FFE97F;
            width:100%;
            height:80svh;
            position: relative;
        }
        section.ToAccept,section.Reported{
            display: flex;
            .table{
                flex-basis:50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                border-radius: 25px;
                background-color: aliceblue;
                h2{
                    margin-top: 15px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                .postsToAccept,.postsReported{
                    width:100%;
                    flex-grow:1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding:50px;
                    overflow-y: scroll;
                    position: relative;
                    .empty{
                        font-size:22px;
                        font-weight: 500;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                    }
                    .postToAccept{
                        border-bottom: 2px solid #222;
                        cursor: pointer;
                        width:100%;
                        padding:5px;
                        padding-left: 15px;
                        text-transform: capitalize;
                        button{
                            background-color: #ffe97e;
                            box-shadow: 2px 2px #222;
                            margin:5px;
                            padding:5px;
                            border:none;
                            cursor: pointer;
                        }
                    }
                }
            }
            .editPost{
                flex-basis:50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover
    {
        background-color:#555;
    }
}

.noLoggedError{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100svh;
    width:100%;
    font-size: 48px;
    font-weight: 700;;
    color:#FFE97F;
    text-shadow: 2px 2px 0px #222;
}

@media (max-width:1000px){
    .adminpanel{
        .adminInfo{
            svg{
                display: none;
            }
        }
        main{
            section{
                flex-direction: column;
                width:100%;
            }
        }
    }
}

@media (max-width:900px){
    .adminpanel{
        aside{
            padding-top: 15%;
            .adminOption{
                font-size:14px;
            }
        }
    }
}