.home{
    .rightPanel{
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 12vh;
        background-color: aliceblue;
        .wave,.wave2{
            display: none;
        }
        .logo{
            width:200px;
            height: 200px;
            border-radius: 50%;
            background-image: url("../../public/images/icon.png");
            background-position: center;
            background-size: cover;
            margin: 8vh 0 2vh 0;
            box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.514);
        }
        .title{
            text-transform: uppercase;
            font-size:56px;
            font-weight: 600;
            color: #FFE97F;
            text-shadow: 2px 2px 2px black;
            cursor: pointer;
            margin-bottom: 15px;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width:80%;
            flex-grow: 1;
            position: relative;
            .input{
                border-bottom: 2px solid #222;
                width:100%;
                margin:50px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                input{
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    padding:15px;
                    font-size:22px;
                    letter-spacing: 2px;
                }
                input:focus{
                    outline: none;
                }
                .errorText{
                    position: absolute;
                    top:100%;
                    left:55px;
                    margin-top: 15px;
                    text-transform: capitalize;
                    font-weight: 700;
                    color:Red;
                }
            }
            .input.error{
                border-bottom: 2px solid red;
            }
            .down{
                width:100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                .captchaBox{
                    opacity: 0;
                    z-index: -1;
                }
                span{
                    color:#222;
                    font-weight: 700;
                    cursor: pointer;
                    letter-spacing: 2px;
                }
                input[type="submit"]{
                    width:160px;
                    height:60px;
                    background-color: #FFE97F;
                    border:none;
                    color:white;
                    font-size:26px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    border-radius: 45px;
                    cursor:pointer;
                    box-shadow: 2px 2px 2px black;
                    text-shadow: 1px 1px 0px #222;
                }
            }
        }
        form.register{
            .input{
                margin:25px;
            }
            .down{
                margin-top: 5px;
            }
        }
        footer{
            position: absolute;
            bottom:0;
            left:0;
            width:100%;
            height: 12vh;
            min-height: 80px;
            display: flex;
            align-items: center;
            .googleButton{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border:1px solid #222;
                margin-left: 10%;
                height:60px;
                padding:15px;
                border-radius:45px;
                cursor:pointer;
                background-color: aliceblue;
                svg{
                    margin-right: 15px;
                }
            }
            a.policy{
                display: flex;
                align-items: center;
                position: absolute;
                right:10%;
                bottom:20%;
                text-decoration: none;
                color:#222;
                font-weight: 600;
                text-transform: capitalize;
                svg{
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 1020px){
    .home{
        flex-direction: column;
        .rightPanel{
            flex-basis: 90svh;
            padding-bottom: 22vh;
            .wave{
                display: block;
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:50px;
                z-index:0;
            }
            .logo{
                margin-top: 20px;
                width:140px;
                height:140px;
                z-index:1;
            }
            .title{
                display:none;
            }
            form{
                margin-top:15px;
                z-index:2;
                .input{
                    margin:15px;
                    .errorText{
                        margin-top: 5px;
                        font-size:12px;
                        left:0;
                    }
                }
            }
            footer{
                height: 12svh;
                z-index:1;
                background-color: #FFE97F;
                .wave2{
                    display: block;
                    position: absolute;
                    bottom: calc(100% - 5px);
                    left:0;
                    width:100%;
                    z-index:-1;
                }
                .policy{
                    right:2%;
                }
            }
        }
    }
}

@media (max-width: 850px){
    .home{
        .rightPanel{
            .logo{
                margin-bottom: 0;
            }
            form{
                .input{
                    input{
                        font-size:16px;
                    }
                }
                .down{
                    input[type="submit"]{
                        height:50px;
                    }
                }
            }
            form.register{
                .input{
                    margin:15px;
                }
                .down{
                    align-items: flex-start;
                }
                .errorText{
                    bottom:40%;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .home{
        .rightPanel{
            footer{
                align-items: flex-end;
                .googleButton{
                    margin: 0 0 15px 15px;
                    width:40%;
                    font-size: 12px;
                }
            }
        }
    }
}