.logged{
    min-height: 100svh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE97F;
    nav{
        height:95svh;
        flex-basis: 15%;
        min-width:200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .logo{
            width:100%;
            flex-basis: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            visibility: hidden;
        }
        .option{
            text-decoration: none;
            color:#222;
            width:100%;
            flex-basis: 60px;
            margin:15px 0 15px 0;
            border-radius: 25px 0 0 25px;
            cursor: pointer;
            display: flex;
            align-items: center;
            letter-spacing: 4px;
            text-transform: capitalize;
            svg{
                margin: 0 15px 0 15px;
                font-size: 24px;
            }
        }
        .option.active{
            background-color: aliceblue;
            color:#222;
            position: relative;
        }

        .option.active::before{
            content: "";
            width:30px;
            height:30px;
            position: absolute;
            right:0;
            top:-30px;
            border-bottom-right-radius: 25px;
            box-shadow: 5px 5px 0 5px aliceblue;
        }
        .option.active::after{
            content: "";
            width:30px;
            height:30px;
            position: absolute;
            right:0;
            bottom:-30px;
            border-top-right-radius: 25px;
            box-shadow: 5px -5px 0 5px aliceblue;
        }
        .add{
            background-color: rgba(240, 248, 255, 0.678);
            flex-basis: 25%;
            width:80%;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 25px;
            text-align: justify;
            cursor: default;
            position: relative;
            padding:25px;
            box-shadow: 5px 5px 0 0 #222;
            background-image: url("/images/mapka.jpg");
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color:#222;
            button{
                position: absolute;
                bottom:5%;
                width:80%;
                height:4svh;
                background-color:aliceblue;
                border:none;
                border-radius: 40px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 4px;
                cursor: pointer;
                transition: .3s ease-in-out;
                box-shadow: 2px 2px 0 0 #222;
                .mapLink{
                    color:#222;
                    text-decoration: none;
                }
            }
            button:hover{
                transform: rotate(2deg);
            }
        }
        .line{
            display: none;
        }
    }
    main{
        height:95svh;
        flex-basis: 80%;
        background-color: aliceblue;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 5px 5px 0 0 #222;
        position: relative;
        overflow: hidden;
        header{
            width:100%;
            flex-basis: 8svh;
            min-height: 8svh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .userInfo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 15px;
                font-weight: 700;
                cursor: default;
                svg{
                    font-size: 28px;
                    margin: 0 10px 0 15px;
                }
            }
            .userIcon{
                width:30px;
                height:30px;
                margin-right: 10px;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                img{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    max-height:100%;
                    width:auto;
                    user-select:none;
                    -webkit-user-drag: none;  //zakaz przeciągania fotek
                }
            }
            .space{
                flex-grow: 1;
            }
            .alerts{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 50px 0 25px;
                font-size: 24px;
                cursor: pointer;
                position: relative;
            }
        }
        .content{
            height:85svh;
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            
        }
    }
}

@media (max-width:1200px){
    .logged{
        flex-direction: column;
        min-height: 200svh;
        justify-content: flex-start;
        background-color: #FFE97F;
        nav{
            width:100%;
            flex-basis: 100svh;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding: 30% 5% 0px 5%;
            height:auto;
            min-height: 750px;
            .logo{
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-top: 100px;
                position: absolute;
                top:0;
                width:100%;
                height:30%;
                min-height:220px;
                visibility: visible;
                background: aliceblue;
                font-size: 16px;
                cursor: default;
                font-weight: 400;
                user-select: none;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                svg{
                    margin:23px;
                    margin-left: 40px;
                    font-size: 48px;
                }
                .userData{
                    display: flex;
                    flex-direction: column;
                    letter-spacing: 2px;
                    .userName{
                        font-weight: 500;
                        margin-bottom: 5px;
                        font-size: 16px;
                    }
                }
                .space{
                    flex-grow: 1;
                }
                .alerts{
                    cursor: pointer;
                    svg{
                        margin:25px;
                        margin-right: 40px;
                        font-size: 32px;
                    }
                }
            }
            .option{
                display: flex;
                flex-basis: 40px;
                border-radius: 0px;
                margin:0;
                align-items: center;
                justify-content: flex-start;
                font-size:14px;
                svg{
                    margin:25px;
                    font-size: 26px;
                }
            }

            .option:nth-last-child(3){
                margin-bottom: 30px;
            }

            .option.active{
                background-color: aliceblue;
                border-radius: 15px;
                opacity: .8;
            }

            .option.active::before{
                display: none;
            }
            .option.active::after{
                display: none;
            }
            .add{
                display:none;
            }

            .line{
                display: block;
                width:40%;
                height:10px;
                margin-bottom: 15px;
                background-color: #222;
                border-radius: 5px;
            }
        }
        main{
            width:100%;
            min-height: 100svh;
            flex-basis: 120svh; 
            height:120svh;
            border-radius: 0px;
            .content{
                height:100%;
            }
            header{
                visibility: hidden;
                .search{
                    width:25svh;
                }
            }
        }
    }
}

@media (max-width:800px){
    .logged{
        nav{
            .logo{
                font-size:14px;
                svg{
                    margin-left: 10px;
                }
                .alerts{
                    svg{
                        margin-right: 20px;
                    }
                }
            }
        }
        main{
            header{
                .search{
                    display: none;
                }
            }
        }
    }
}

@media (max-width:500px){
    .logged{
        main{
            header{
                .userInfo{
                    font-size: 14px;
                }
            }
        }
    }
}