.stats{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    .chartButtons{
        height:15svh;
        width:90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chartButton{
            background-color: #FFE97F;
            border-radius:15px;
            width:25%;
            height:80%;
            cursor: pointer;
            transition: .3s ease-in-out;
            position: relative;
            min-width:120px;
            overflow: hidden;
            .buttonWave{
                width:100%;
                height:60px;
                position: absolute;
                left:0;
                right: 0;
                bottom:0;
                z-index:0;
                svg{
                    position: absolute;
                    right:0;
                    bottom:0;
                    opacity:.8;
                }
            }
            .title{
                position: absolute;
                top:15px;
                left:15px;
                font-weight: 600;
                font-size:22px;
                z-index:2;
            }
            .number{
                position: absolute;
                bottom:15px;
                left:15px;
                font-weight: 600;
                font-size:28px;
                letter-spacing: 2px;
                z-index:2;
            }
            svg{
                position: absolute;
                right:30px;
                bottom:15px;
                font-size: 32px;
                transition: .3s ease-in-out;
                z-index:2;
            }
        }
    }
    .chart{
        height:65svh;
        width:90%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .containerChart{
            width:100%;
            display: flex;
            align-items: center;
            justify-content:flex-start;
        }
        select{
            position: absolute;
            top:0px;
            right:0;
            padding:10px;
            background-color: #FFE97F;
            border-radius:5px;
            border:none;
            cursor: pointer;
        }
        select:focus{
            outline:none;
        }
    }
}

@media (max-width:1200px){
    .stats{
        .chartButtons{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .chart{
            height:80svh;
        }
    }
}

@media (max-width:900px){
    .stats{
        .chartButtons{
            width:100%;
            justify-content: space-around;
            .chartButton{
                .title{
                    font-size: 14px;
                }
                svg{
                    font-size: 24px;
                    right:15px;
                }
            }
        }
        .chart{
            width:100%;
        }
    }
}